.copywrite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 0px 0px;
}
.copywrite p {
  font-size: 12px;
  color: #777;
  line-height: 1.65;
  font-family: "Roboto", sans-serif;
}
