* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  /* font-family: "Roboto", sans-serif; */
}
body {
  overflow: hidden;

  /* background-color: #2c2d2f; */
  background-color: #0b1c2e;
  /* background-color: #052a4c; */
}
